[Unit]
Description=JavaApp

[Service]
Type=forking
ExecStart=sudo java -jar /var/www/java-app/app.jar /var/log/java-app/log.txt
Restart=on-failure
RestartSec=5
StartLimitInterval=5

[Install]
WantedBy=multi-user.target
